@model IEnumerable<OnlineJobPortal.Models.company_profile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Employer/Views/Shared/_MyLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.account.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.industry.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.slogan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.welcome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.essential)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recruitment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.people)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company_background)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company_logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.establishment_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company_website_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.meta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hide)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datebegin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.account.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.industry.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slogan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.welcome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.essential)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recruitment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.people)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company_background)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company_image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company_logo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.establishment_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company_website_url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.meta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hide)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datebegin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
