@model IEnumerable<OnlineJobPortal.Models.seeker_profile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";
}

<div class="box-heading">
    <div class="box-title">
        <h3 class="mb-35">Job Seekers</h3>
    </div>
    <div class="box-breadcrumb">
        <div class="breadcrumbs" style="margin:0; vertical-align:central">

            <p style="margin-bottom:0">
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="section-box">
        <div class="row">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable">
                        <thead>
                            <tr>
                                <th hidden>
                                    @Html.DisplayNameFor(model => model.account.email)
                                </th>
                                <th hidden>
                                    @Html.DisplayNameFor(model => model.current_salary)
                                </th>
                                <th hidden>
                                    @Html.DisplayNameFor(model => model.low_salary_range)
                                </th>
                                <th hidden>
                                    @Html.DisplayNameFor(model => model.high_salary_range)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.first_name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.last_name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.date_of_birth)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.gender)
                                </th>
                                <th hidden>
                                    @Html.DisplayNameFor(model => model.wallpaper)
                                </th>
                                <th hidden>
                                    @Html.DisplayNameFor(model => model.avatar)
                                </th>
                                <th hidden>
                                    @Html.DisplayNameFor(model => model.avatar_profile)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.title)
                                </th>
                                <th hidden>
                                    @Html.DisplayNameFor(model => model.about)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.experience)
                                </th>
                                <th hidden>
                                    @Html.DisplayNameFor(model => model.desc_experience)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.education)
                                </th>
                                <th hidden>
                                    @Html.DisplayNameFor(model => model.desc_education)
                                </th>
                                <th hidden>
                                    @Html.DisplayNameFor(model => model.address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.country)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.city)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.meta)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.hide)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.order)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.datebegin)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.account.email)
                                    </td>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.current_salary)
                                    </td>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.low_salary_range)
                                    </td>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.high_salary_range)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.first_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.last_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.date_of_birth)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.gender)
                                    </td>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.wallpaper)
                                    </td>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.avatar)
                                    </td>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.avatar_profile)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.title)
                                    </td>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.about)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.experience)
                                    </td>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.desc_experience)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.education)
                                    </td>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.desc_education)
                                    </td>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.country)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.city)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.meta)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.hide)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.order)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.datebegin)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                        

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
