@model OnlineJobPortal.Models.account

@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";


}


<div class="box-heading">
    <div class="box-title">
        <h3 class="mb-35">Admin Authentication</h3>
    </div>
    <div class="box-breadcrumb">
        <div class="breadcrumbs">
            <ul>
                <li> <a class="icon-home" href="index.html">Admin</a></li>
                <li><span>Login</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="section-box">
            <div class="container">
                <div class="panel-white mb-30">
                    <div class="box-padding">
                        <div class="login-register">
                            <div class="row login-register-cover pb-250">
                                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">

                                    <div class="form-login-cover">
                                        <div class="text-center">
                                            <p class="font-sm text-brand-2">Welcome back! </p>
                                            <h2 class="mt-10 mb-5 text-brand-1">ADMIN</h2>

                                            <div class="divider-text-center"><span> Login </span></div>
                                        </div>
                                        @using (Html.BeginForm("Login", "AdminAuthentication", FormMethod.Post))
                                        {
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.username)
                                                @Html.EditorFor(m => m.username)
                                                @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(m => m.password)
                                                @Html.EditorFor(m => m.password, new { @type = "password" })
                                                @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <button style="background-color: #3C65F5; color: white" class="btn btn-brand-1 hover-up w-100" type="submit" name="login">Login</button>
                                            </div>
                                        }
                                    </div>
                                    <div id="checkbox-error-message-1" class="text-danger text-center font-sm mb-30">@(ViewBag.LoginFail != "" ? ViewBag.LoginFail : "")</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
