@model PagedList.IPagedList<OnlineJobPortal.Models.company_profile>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<section class="section-box-2">
    <div class="container">
        <div class="banner-hero banner-company">
            <div class="block-banner text-center">
                <h3 class="wow animate__animated animate__fadeInUp">Browse Companies</h3>
                <div class="font-sm color-text-paragraph-2 mt-10 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, <br class="d-none d-xl-block">atque delectus molestias quis?</div>
                <div class="box-list-character">
                    <ul>
                        @foreach (var item in Enumerable.Range('A', 26).Select(i => (char)i).ToList())
                        {
                            char character = ' ';
                            if (ViewBag.Character != null)
                            {
                                character = Convert.ToChar(ViewBag.Character);
                            }
                            <li>
                                <a class="@(item == character ? "active" : "")" 
                                   href="@Url.Action("companies-grid", "find-a-company", new { character = item.ToString(), pageNum = 1 })">
                                    @item
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-box mt-30">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9 col-md-12 col-sm-12 col-12 float-right">
                @if (ViewBag.Total == 0)
                {
                    <section class="pt-50 login-register">
                        <div class="container">
                            <div class="row login-register-cover pb-250">
                                <div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
                                    <div class="text-center">
                                        <img class="w-75 mb-30" src="/Assets/jobbox/imgs/template/404.svg" alt="JobBox">
                                        <h2 class="mt-10 mb-5 text-brand-2">Something Went Wrong!</h2>
                                        <p class="font-sm text-muted mb-30">Sorry, but the list is empty! Please get filter again!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                }
                else
                {
                    <div class="content-page">
                        <div class="box-filters-job">
                            <div class="row">
                                <div class="col-xl-6 col-lg-5"><span class="text-small text-showing">Showing <strong>@ViewBag.PageNum-@ViewBag.TotalPage </strong>of <strong>@ViewBag.Total </strong>companies</span></div>
                                <div class="col-xl-6 col-lg-7 text-lg-end mt-sm-15">
                                    <div class="display-flex2">
                                        <div class="box-border mr-10">
                                            <span class="text-sortby">Show:</span>
                                            <div class="dropdown dropdown-sort">
                                                <button class="btn dropdown-toggle" id="dropdownSort" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"><span>15</span><i class="fi-rr-angle-small-down"></i></button>
                                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownSort">
                                                    <li><a class="dropdown-item active" href="#">15</a></li>
                                                    <li><a class="dropdown-item" href="#">21</a></li>
                                                    <li><a class="dropdown-item" href="#">27</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- <div class="box-view-type"><a class='view-type' href='jobs-list.html'><img src="/Assets/jobbox/imgs/template/icons/icon-list.svg" alt="jobBox"></a><a class='view-type' href='jobs-grid.html'><img src="/Assets/jobbox/imgs/template/icons/icon-grid-hover.svg" alt="jobBox"></a></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                    <div class="card-grid-1 hover-up wow animate__animated animate__fadeIn">
                                        <div class="image-box"><a href='/find-a-company/@item.meta/@item.id'><img src="/Assets/jobbox/imgs/brands/@(item.company_logo != null ? item.company_logo : "brand-1.png")" alt="jobBox"></a></div>
                                        <div class="info-text mt-10">
                                            <h5 class="font-bold">
                                                <a href="/find-a-company/@item.meta/@item.id">
                                                    @{
                                                        string companyName = item.name;
                                                        if (companyName.Length > 18)
                                                        {
                                                            companyName = companyName.Substring(0, 18) + "...";
                                                        }
                                                    }
                                                    @companyName
                                                </a>
                                            </h5>
                                            <span class="card-location">@item.city, @item.country</span>
                                            <div class="mt-30">
                                                <a class='btn btn-grey-big' href="@(Url.Action("jobs-list", "find-a-job", new { company = item.meta, pageNum = 1 }))">
                                                    @Html.Action("GetAmountJobCompany", "Company", new { id = item.id })
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="paginations">
                        <ul class="pager">
                            @if (ViewBag.PageNum > 1)
                            {
                                <li>
                                    <a class="pager-prev" href="@Url.Action("companies-grid", "find-a-company",
                                        new {
                                            character = ViewBag.Character,
                                            industry = ViewBag.Industry,
                                            location = ViewBag.Location,
                                            keyword = ViewBag.Keyword,
                                            jobPosition = ViewBag.JobPosition,
                                            jobLevel = ViewBag.JobLevel,
                                            jobStatus = ViewBag.JobStatus,
                                            jobType = ViewBag.JobType,
                                            pageNum = ViewBag.PageNum - 1
                                        })">
                                    </a>
                                </li>
                            }

                            @for (int i = 1; i <= ViewBag.TotalPage; i++)
                            {
                                <li class="@(i == ViewBag.PageNum ? "active" : "")">
                                    <a href="@Url.Action("companies-grid", "find-a-company",
                                         new {
                                             character = ViewBag.Character,
                                             industry = ViewBag.Industry,
                                             location = ViewBag.Location,
                                             keyword = ViewBag.Keyword,
                                             jobPosition = ViewBag.JobPosition,
                                             jobLevel = ViewBag.JobLevel,
                                             jobStatus = ViewBag.JobStatus,
                                             jobType = ViewBag.JobType,
                                             pageNum = i
                                         })">
                                        @i
                                    </a>
                                </li>
                            }

                            @if (ViewBag.PageNum < ViewBag.TotalPage)
                            {
                                <li>
                                    <a class="pager-next" href="@Url.Action("companies-grid", "find-a-company",
                                        new {
                                            character = ViewBag.Character,
                                            industry = ViewBag.Industry,
                                            location = ViewBag.Location,
                                            keyword = ViewBag.Keyword,
                                            jobPosition = ViewBag.JobPosition,
                                            jobLevel = ViewBag.JobLevel,
                                            jobStatus = ViewBag.JobStatus,
                                            jobType = ViewBag.JobType,
                                            pageNum = ViewBag.PageNum + 1
                                        })">
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="sidebar-shadow none-shadow mb-30">
                    <div class="sidebar-filters">
                        @{ Html.RenderAction("GetFilters", "Company"); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
<section class="section-box mt-50 mb-50">
    <div class="container">
        <div class="text-start">
            <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">News and Blog</h2>
            <p class="font-lg color-text-paragraph-2 wow animate__animated animate__fadeInUp">Get the latest news, updates and tips</p>
        </div>
    </div>
    <div class="container">
        <div class="mt-50">
            <div class="box-swiper style-nav-top">
                <div class="swiper-container swiper-group-3 swiper">
                    <div class="swiper-wrapper pb-70 pt-5">
                        <div class="swiper-slide">
                            <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">
                                <div class="text-center card-grid-3-image">
                                    <a href="#">
                                        <figure><img alt="jobBox" src="/Assets/jobbox/imgs/page/homepage1/img-news1.png"></figure>
                                    </a>
                                </div>
                                <div class="card-block-info">
                                    <div class="tags mb-15"><a class='btn btn-tag' href='blog-grid.html'>News</a></div>
                                    <h5><a href='blog-details.html'>21 Job Interview Tips: How To Make a Great Impression</a></h5>
                                    <p class="mt-10 color-text-paragraph font-sm">Our mission is to create the world&amp;rsquo;s most sustainable healthcare company by creating high-quality healthcare products in iconic, sustainable packaging.</p>
                                    <div class="card-2-bottom mt-20">
                                        <div class="row">
                                            <div class="col-lg-6 col-6">
                                                <div class="d-flex">
                                                    <img class="img-rounded" src="/Assets/jobbox/imgs/page/homepage1/user1.png" alt="jobBox">
                                                    <div class="info-right-img"><span class="font-sm font-bold color-brand-1 op-70">Sarah Harding</span><br><span class="font-xs color-text-paragraph-2">06 September</span></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 text-end col-6 pt-15"><span class="color-text-paragraph-2 font-xs">8 mins to read</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">
                                <div class="text-center card-grid-3-image">
                                    <a href="#">
                                        <figure><img alt="jobBox" src="/Assets/jobbox/imgs/page/homepage1/img-news2.png"></figure>
                                    </a>
                                </div>
                                <div class="card-block-info">
                                    <div class="tags mb-15"><a class='btn btn-tag' href='blog-grid.html'>Events</a></div>
                                    <h5><a href='blog-details.html'>39 Strengths and Weaknesses To Discuss in a Job Interview</a></h5>
                                    <p class="mt-10 color-text-paragraph font-sm">Our mission is to create the world&amp;rsquo;s most sustainable healthcare company by creating high-quality healthcare products in iconic, sustainable packaging.</p>
                                    <div class="card-2-bottom mt-20">
                                        <div class="row">
                                            <div class="col-lg-6 col-6">
                                                <div class="d-flex">
                                                    <img class="img-rounded" src="/Assets/jobbox/imgs/page/homepage1/user2.png" alt="jobBox">
                                                    <div class="info-right-img"><span class="font-sm font-bold color-brand-1 op-70">Steven Jobs</span><br><span class="font-xs color-text-paragraph-2">06 September</span></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 text-end col-6 pt-15"><span class="color-text-paragraph-2 font-xs">6 mins to read</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-grid-3 hover-up wow animate__animated animate__fadeIn">
                                <div class="text-center card-grid-3-image">
                                    <a href="#">
                                        <figure><img alt="jobBox" src="/Assets/jobbox/imgs/page/homepage1/img-news3.png"></figure>
                                    </a>
                                </div>
                                <div class="card-block-info">
                                    <div class="tags mb-15"><a class='btn btn-tag' href='blog-grid.html'>News</a></div>
                                    <h5><a href='blog-details.html'>Interview Question: Why Dont You Have a Degree?</a></h5>
                                    <p class="mt-10 color-text-paragraph font-sm">Learn how to respond if an interviewer asks you why you dont have a degree, and read example answers that can help you craft</p>
                                    <div class="card-2-bottom mt-20">
                                        <div class="row">
                                            <div class="col-lg-6 col-6">
                                                <div class="d-flex">
                                                    <img class="img-rounded" src="/Assets/jobbox/imgs/page/homepage1/user3.png" alt="jobBox">
                                                    <div class="info-right-img"><span class="font-sm font-bold color-brand-1 op-70">Wiliam Kend</span><br><span class="font-xs color-text-paragraph-2">06 September</span></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 text-end col-6 pt-15"><span class="color-text-paragraph-2 font-xs">9 mins to read</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="text-center"><a class='btn btn-brand-1 btn-icon-load mt--30 hover-up' href='blog-grid.html'>Load More Posts</a></div>
        </div>
    </div>
</section>
<section class="section-box mt-50 mb-20">
    <div class="container">
        <div class="box-newsletter">
            <div class="row">
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="/Assets/jobbox/imgs/template/newsletter-left.png" alt="joxBox"></div>
                <div class="col-lg-12 col-xl-6 col-12">
                    <h2 class="text-md-newsletter text-center">New Things Will Always<br> Update Regularly</h2>
                    <div class="box-form-newsletter mt-40">
                        <form class="form-newsletter">
                            <input class="input-newsletter" type="text" value="" placeholder="Enter your email here">
                            <button class="btn btn-default font-heading icon-send-letter">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="/Assets/jobbox/imgs/template/newsletter-right.png" alt="joxBox"></div>
            </div>
        </div>
    </div>
</section>
-->
