@model IEnumerable<OnlineJobPortal.Models.job_post>

@foreach (var item in Model)
{
    <li>
        <div class="card-list-4 wow animate__animated animate__fadeIn hover-up">
            <div class="image"><a href="/find-a-job/@item.meta/@item.id"><img src="/Assets/jobbox/imgs/brands/@(ViewBag.CompanyLogo != null ? ViewBag.CompanyLogo : "brand-1.png")" alt="jobBox"></a></div>
            <div class="info-text">
                <h5 class="font-md font-bold color-brand-1"><a href="/find-a-job/@item.meta/@item.id">@item.job_title</a></h5>
                <div class="mt-0">
                    @Html.Action("GetStatus", "Job", new { id = item.id })
                </div>
                <div class="mt-5">
                    <div class="row">
                        <div class="col-12 text-start"><span class="card-briefcase">@(item.address != null ? item.address + "," : "") @item.city, @item.country</span></div>
                        <div class="col-12">
                            <h6 class="card-price">@item.job_salary<span> / Hour</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
}

<!--
<li>
    <div class="card-list-4 wow animate__animated animate__fadeIn hover-up">
        <div class="image"><a href='job-details.html'><img src="/Assets/jobbox/imgs/brands/brand-1.png" alt="jobBox"></a></div>
        <div class="info-text">
            <h5 class="font-md font-bold color-brand-1"><a href='job-details.html'>UI / UX Designer fulltime</a></h5>
            <div class="mt-0"><span class="card-briefcase">Fulltime</span><span class="card-time"><span>3</span><span> mins ago</span></span></div>
            <div class="mt-5">
                <div class="row">
                    <div class="col-6">
                        <h6 class="card-price">$250<span>/Hour</span></h6>
                    </div>
                    <div class="col-6 text-end"><span class="card-briefcase">New York, US</span></div>
                </div>
            </div>
        </div>
    </div>
</li>
<li>
    <div class="card-list-4 wow animate__animated animate__fadeIn hover-up">
        <div class="image"><a href='job-details.html'><img src="/Assets/jobbox/imgs/brands/brand-2.png" alt="jobBox"></a></div>
        <div class="info-text">
            <h5 class="font-md font-bold color-brand-1"><a href='job-details.html'>Java Software Engineer</a></h5>
            <div class="mt-0"><span class="card-briefcase">Fulltime</span><span class="card-time"><span>5</span><span> mins ago</span></span></div>
            <div class="mt-5">
                <div class="row">
                    <div class="col-6">
                        <h6 class="card-price">$500<span>/Hour</span></h6>
                    </div>
                    <div class="col-6 text-end"><span class="card-briefcase">Tokyo, Japan</span></div>
                </div>
            </div>
        </div>
    </div>
</li>
<li>
    <div class="card-list-4 wow animate__animated animate__fadeIn hover-up">
        <div class="image"><a href='job-details.html'><img src="/Assets/jobbox/imgs/brands/brand-3.png" alt="jobBox"></a></div>
        <div class="info-text">
            <h5 class="font-md font-bold color-brand-1"><a href='job-details.html'>Frontend Developer</a></h5>
            <div class="mt-0"><span class="card-briefcase">Fulltime</span><span class="card-time"><span>8</span><span> mins ago</span></span></div>
            <div class="mt-5">
                <div class="row">
                    <div class="col-6">
                        <h6 class="card-price">$650<span>/Hour</span></h6>
                    </div>
                    <div class="col-6 text-end"><span class="card-briefcase">Hanoi, Vietnam</span></div>
                </div>
            </div>
        </div>
    </div>
</li>
<li>
    <div class="card-list-4 wow animate__animated animate__fadeIn hover-up">
        <div class="image"><a href='job-details.html'><img src="/Assets/jobbox/imgs/brands/brand-4.png" alt="jobBox"></a></div>
        <div class="info-text">
            <h5 class="font-md font-bold color-brand-1"><a href='job-details.html'>Cloud Engineer</a></h5>
            <div class="mt-0"><span class="card-briefcase">Fulltime</span><span class="card-time"><span>12</span><span> mins ago</span></span></div>
            <div class="mt-5">
                <div class="row">
                    <div class="col-6">
                        <h6 class="card-price">$380<span>/Hour</span></h6>
                    </div>
                    <div class="col-6 text-end"><span class="card-briefcase">Losangl, Au</span></div>
                </div>
            </div>
        </div>
    </div>
</li>
<li>
    <div class="card-list-4 wow animate__animated animate__fadeIn hover-up">
        <div class="image"><a href='job-details.html'><img src="/Assets/jobbox/imgs/brands/brand-5.png" alt="jobBox"></a></div>
        <div class="info-text">
            <h5 class="font-md font-bold color-brand-1"><a href='job-details.html'>DevOps Engineer</a></h5>
            <div class="mt-0"><span class="card-briefcase">Fulltime</span><span class="card-time"><span>34</span><span> mins ago</span></span></div>
            <div class="mt-5">
                <div class="row">
                    <div class="col-6">
                        <h6 class="card-price">$140<span>/Hour</span></h6>
                    </div>
                    <div class="col-6 text-end"><span class="card-briefcase">Paris, France</span></div>
                </div>
            </div>
        </div>
    </div>
</li>
<li>
    <div class="card-list-4 wow animate__animated animate__fadeIn hover-up">
        <div class="image"><a href='job-details.html'><img src="/Assets/jobbox/imgs/brands/brand-6.png" alt="jobBox"></a></div>
        <div class="info-text">
            <h5 class="font-md font-bold color-brand-1"><a href='job-details.html'>Figma design UI/UX</a></h5>
            <div class="mt-0"><span class="card-briefcase">Fulltime</span><span class="card-time"><span>45</span><span> mins ago</span></span></div>
            <div class="mt-5">
                <div class="row">
                    <div class="col-6">
                        <h6 class="card-price">$290<span>/Hour</span></h6>
                    </div>
                    <div class="col-6 text-end"><span class="card-briefcase">New York, US</span></div>
                </div>
            </div>
        </div>
    </div>
</li>
<li>
    <div class="card-list-4 wow animate__animated animate__fadeIn hover-up">
        <div class="image"><a href='job-details.html'><img src="/Assets/jobbox/imgs/brands/brand-7.png" alt="jobBox"></a></div>
        <div class="info-text">
            <h5 class="font-md font-bold color-brand-1"><a href='job-details.html'>Product Manage</a></h5>
            <div class="mt-0"><span class="card-briefcase">Fulltime</span><span class="card-time"><span>50</span><span> mins ago</span></span></div>
            <div class="mt-5">
                <div class="row">
                    <div class="col-6">
                        <h6 class="card-price">$650<span>/Hour</span></h6>
                    </div>
                    <div class="col-6 text-end"><span class="card-briefcase">New York, US</span></div>
                </div>
            </div>
        </div>
    </div>
</li>
<li>
    <div class="card-list-4 wow animate__animated animate__fadeIn hover-up">
        <div class="image"><a href='job-details.html'><img src="/Assets/jobbox/imgs/brands/brand-8.png" alt="jobBox"></a></div>
        <div class="info-text">
            <h5 class="font-md font-bold color-brand-1"><a href='job-details.html'>UI / UX Designer</a></h5>
            <div class="mt-0"><span class="card-briefcase">Fulltime</span><span class="card-time"><span>58</span><span> mins ago</span></span></div>
            <div class="mt-5">
                <div class="row">
                    <div class="col-6">
                        <h6 class="card-price">$270<span>/Hour</span></h6>
                    </div>
                    <div class="col-6 text-end"><span class="card-briefcase">New York, US</span></div>
                </div>
            </div>
        </div>
    </div>
</li>
-->